<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="pagEstaticas/head :: headFragment (titulo='Detalle pedido')">

</head>
<body>
	<!--nav-->
	<!--AQUÍ PONER NAV DE USUARIO LOGUEADO-->

	<nav th:replace="user/navUser :: navUser"></nav>

	<!--Fin del nav-->

	<aside class="float-left col-lg-2 p-0 subNav">
		<div class="container-fluid col-lg-12 col-12 p-0 float-left subNav">
			<nav class="nav nav-stacked text-center subNav">
				<a class="nav-link col-lg-12 col-md-6 col-6  p-4 rounded-0" href="#"
					th:href="@{/user/perfil}">Ver perfil</a> <a
					class="nav-link col-lg-12 col-md-6 col-6 boton p-4 rounded-0"
					href="pedidos.html" th:href="@{/user/pedidos}">Ver pedidos</a>
			</nav>
		</div>
	</aside>
	<!--Section-->
	<section class="float-left pb-4 col-lg-10">
		<div class="container-fluid mt-4">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10 display-4 fondoVerde">
					<div class="float-left">
						<p>
							Pedido <span th:text="${pedido.id}">xx</span>
						</p>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
		<div class="container-fluid ">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div class="row">
						<div class="col-12">
							<a href="user/pedidos.html" onclick="volverAtras()"
								class=" text-decoration-none text-dark btn  mt-2 font-weight-bold boton"
								role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i>
								Volver atrás </a> <a
								th:href="@{/user/pedido/{id}/print/pdf (id=${pedido.id})}"
								class=" text-decoration-none text-dark btn  mt-2 font-weight-bold btn-success float-right"
								role="button">Generar PDF <i class="far fa-file-pdf"></i></a>

						</div>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
		<div class="container-fluid mt-2 mb-2">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-3">
					<h4>Estado:</h4>
					<p th:text="${pedido.estado}">xx</p>
				</div>

				<div class="col-1"></div>
			</div>
		</div>
		<div class="container-fluid mt-2 mb-4">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10 table-responsive text-center">
					<table class="table table-striped display" id="resultados">
						<thead class="thead-dark">
							<tr>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>Precio/u</th>
								<th>Precio Subtotal</th>
							</tr>
						</thead>
						<tbody th:remove="all-but-first">

							<tr th:each="linea : ${pedido.linea}">
								<td th:text="${linea.productoAnadido.nombre}">6498498</td>
								<td th:text="${linea.cantidad}">Mnemo</td>
								<td th:text="|${#numbers.formatDecimal(linea.precioUnidad, 0, 'POINT', 2, 'COMMA')} €|">xx</td>
								<td th:text="|${#numbers.formatDecimal(lineaS.calcularPrecioTotalLinea(linea), 0, 'POINT', 2, 'COMMA')} €|">156474949</td>

							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
		<div class="container-fluid mt-2 mb-2">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<p>Gastos de envío:</p>
					<p th:text="${pedido.precioTransporte}">xx</p>
					<h4>Total:</h4>
					<p th:text="|${pedido.precioTotal} €|">xx</p>
				</div>
				<div class="col-1"></div>
			</div>
		</div>

	</section>
	<footer th:replace="pagEstaticas/footer :: footer"></footer>

</body>
</html>